.dark {
	/* Dark mode */
	--page-bg: #252526;
	--text-color: #fff;

	--title-1: #fff;
	--title-2: #171718;

	--project-card-bg: #171718;
	--project-card-text: #fff;
	--box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);

	.section {
		background: #000;
	}
	.content-list {
		&__item {
		}
	}
	.btn {
		border: 1px solid #fff;
		color: #fff;
	}
	.btn__Github,
	.btn__Preview {
		path {
			stroke: #fff;
		}
		@media (any-hover: hover) {
			&:hover {
				background: #fff;
				color: #000;
				path {
					stroke: #000;
				}
			}
		}
	}
	.intro__body {
		color: var(--header-text);
	}
	.section__intro {
		background: #171718;
	}
	.skills {
		background: #252526;
		// background: #171718;

		&-title,
		&-description,
		&-block__title,
		&-item {
			color: #fff;
		}
		&-description {
		}
		&-block__title {
		}
		&-item {
			border: 1px solid #fff;
		}
		&-block {
			background: #252526;
			border: 0.1px solid #fff;
		}
	}
	.projects__bg {
		background: #171718;
	}
	.project__color {
		color: #fff;
	}
	.projects__bg_card {
		background: #191924;
	}
	.projects__shadow {
		box-shadow: 0 0 12px 4px rgba(237, 235, 235, 0.2);
		@media (any-hover: hover) {
			&:hover {
				box-shadow: 0 0 30px 4px rgba(237, 233, 233, 0.4);
			}
		}
	}
}
