.language__text {
	color: #fff;
	transition: all 0.3s;
}
.language__switcher {
	display: flex;
	order: 3;
	svg {
		transition: all 0.3s;
		color: #fff;
	}
	@media (any-hover: hover) {
		&:hover {
			svg {
				color: var(--purple);
			}
			.language__text {
				color: var(--purple);
			}
		}
	}
}
