@mixin button($bcolor, $url, $x1, $y1, $bor, $col) {
	background: $bcolor;
	-webkit-mask: url($url);
	mask: url($url);
	-webkit-mask-size: $x1 $y1;
	mask-size: $x1 $y1;
	border: $bor;
	color: $col;
}
button {
	@include button(
		red,
		'https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png',
		2300%,
		100%,
		none,
		#fff
	);
}
@-webkit-keyframes ani {
	from {
		mask-position: 0 0;
	}

	to {
		-webkit-mask-position: 100% 0;
		mask-position: 100% 0;
	}
}

@keyframes ani {
	from {
		-webkit-mask-position: 0 0;
		mask-position: 0 0;
	}

	to {
		-webkit-mask-position: 100% 0;
		mask-position: 100% 0;
	}
}

@-webkit-keyframes ani2 {
	from {
		-webkit-mask-position: 100% 0;
		mask-position: 100% 0;
	}

	to {
		-webkit-mask-position: 0 0;
		mask-position: 0 0;
	}
}

@keyframes ani2 {
	from {
		-webkit-mask-position: 100% 0;
		mask-position: 100% 0;
	}

	to {
		-webkit-mask-position: 0 0;
		mask-position: 0 0;
	}
}
