@use 'sass:math';

html,
body {
	font-family: 'Nunito', sans-serif;
	/* Light mode */
	background-color: var(--page-bg);
	color: var(--text-color);
	scroll-behavior: smooth;
}

.title-1 {
	color: #11ace4;
	line-height: math.div(77, 60);
	font-weight: 700;
	color: var(--title-1);
	text-align: center;
	@include adaptiveValue('font-size', 60, 40);
	@include adaptiveValue('margin-bottom', 40, 20);
}

.title-2 {
	font-weight: 700;
	line-height: math.div(52, 40);
	@include adaptiveValue('font-size', 40, 30);
}

.section {
	@include adaptiveValue('padding-top', 70, 20);
	@include adaptiveValue('padding-bottom', 70, 20);
	background-color: #f8f8ff;
	&__intro {
		background-color: #f8f8ff;
	}
	&__skills {
		background-color: #fff;
	}
}

.fullscreen {
	min-height: 100vh;
}

.intro {
	position: relative;
	display: grid;
	background-size: inherit;
	row-gap: 50px;
	// background: url('/img/header-bg.png') right no-repeat;
	@include adaptiveValue('padding-top', 200, 120);
	@include adaptiveValue('padding-bottom', 50, 100);
	@media (min-width: $tablet) {
		grid-template-columns: 1fr percent(500, 1170);
	}
	@media (max-width: $tablet) {
		grid-template-columns: 1fr;
	}

	@media (max-width: $mobile) {
		background-size: contain;
	}
	&__body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: inherit;
		color: #000;
		text-align: left;
		@media (max-width: $tablet) {
			text-align: center;
		}
	}

	&__title {
		font-weight: 700;
		line-height: math.div(70, 50);
		@include adaptiveValue('font-size', 50, 32);
		@include adaptiveValue('margin-bottom', 20, 10);

		em {
			font-style: normal;
		}
	}
	&__text {
		line-height: math.div(40, 20);
		@include adaptiveValue('font-size', 20, 18);
		p + p {
			margin-top: 0.5em;
		}
	}
	&__image {
		@extend %ibg;
		padding-bottom: toRem(550);
		@media (max-width: $mobile) {
			@include adaptiveValue('padding-bottom', 550, 300);
		}
	}
}

.icon-menu {
	display: none;
	@media (max-width: 767.98px) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 11;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: '';
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}

.Typewriter {
	display: inline-block;
	margin-left: 5px;
	color: #5c62ec;
}
.projects__bg {
	background: #f8f8ff;
}
.project__color {
	color: #000;
}

.projects__bg_card {
	background: #fff;
}
.box__shadow {
	transition: all 0.4s;
	box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.4);
	@media (any-hover: hover) {
		&:hover {
			box-shadow: 0 0 30px 4px rgb(92, 98, 236, 0.6);
		}
	}
}
@import './components/dark.scss';
.hide {
	@media (max-width: $mobile) {
		display: none;
	}
}
